@font-face {
  font-family: "YekanBakhLight";
  src: local("YekanBakhLight"),
   url("./fonts/YekanBakh-Light.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "YekanBakhMedium";
  src: local("YekanBakhMedium"),
   url("./fonts/YekanBakh-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "YekanBakhBold";
  src: local("YekanBakhBold"),
   url("./fonts/YekanBakh-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "YekanBakhHeavy";
  src: local("YekanBakhHeavy"),
   url("./fonts/YekanBakh-Heavy.ttf") format("truetype");
  font-weight: bolder;
}
body{
  font-family: "YekanBakhBold"!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

